// Style Settings Plugin snippets

/* @settings

name: Chameleon Theme
id: obsidian-chameleon-theme
settings:
    -
        id: color-schemes-light
        title: Light Color Scheme
        description: Light Color Scheme picker
        type: class-select
        allowEmpty: false
        default: color-scheme-nord
        options:
            -
                label: Nord
                value: color-scheme-nord
            -   
                label: One Dark
                value: color-scheme-one-dark
*/
