// Gruvbox Dark color scheme
.theme-dark {
  &.color-scheme-gruvbox-soft,
  &.color-scheme-gruvbox-medium,
  &.color-scheme-gruvbox-hard {
    // Common styles

    // Gruvbox color palette
    --dark0-hard: #1d2021;
    --dark0: #282828;
    --dark0-soft: #32302f;
    --dark1: #3c3836;
    --dark2: #504945;
    --dark3: #665c54; // select medium
    --dark4: #7c6f64;
    --light0-hard: #f9f5d7;
    --light0: #fbf1c7;
    --light0-soft: #f2e5bc;
    --light1: #ebdbb2; // text medium
    --light2: #d5c4a1;
    --light3: #bdae93;
    --light4: #a89984;
    --bright-red: #fb4934; // utilisé pour var. same pour nvim. Cas medium. bouge pas pour hard
    --bright-green: #b8bb26;
    --bright-yellow: #fabd2f;
    --bright-blue: #83a598; // utilisé pour hard. en gros, c'est +- le bg et borders qui change. comparer text et commebnts
    --bright-purple: #d3869b;
    --bright-aqua: #8ec07c;
    --bright-orange: #fe8019;
    --neutral-red: #cc241d;
    --neutral-green: #98971a;
    --neutral-yellow: #d79921;
    --neutral-blue: #458588;
    --neutral-purple: #b16286;
    --neutral-aqua: #689d6a;
    --neutral-orange: #d65d0e;
    --faded-red: #9d0006;
    --faded-green: #79740e;
    --faded-yellow: #b57614;
    --faded-blue: #076678;
    --faded-purple: #8f3f71;
    --faded-aqua: #427b58;
    --faded-orange: #af3a03;
    --dark-red-hard: #792329;
    --dark-red: #722529;
    --dark-red-soft: #7b2c2f;
    --light-red-hard: #fc9690;
    --light-red: #fc9487;
    --light-red-soft: #f78b7f;
    --dark-green-hard: #5a633a;
    --dark-green: #62693e;
    --dark-green-soft: #686d43;
    --light-green-hard: #d3d6a5;
    --light-green: #d5d39b;
    --light-green-soft: #cecb94;
    --dark-aqua-hard: #3e4934;
    --dark-aqua: #49503b;
    --dark-aqua-soft: #525742;
    --light-aqua-hard: #e6e9c1;
    --light-aqua: #e8e5b5;
    --light-aqua-soft: #e1dbac;
    --gray: #928374; // comment medium, dark

    // Background colors
    --selection-background-color: var(--dark3);

    // Obsidian colors
    --color-red: var(--neutral-red);
    --color-orange: var(--neutral-orange);
    --color-yellow: var(--neutral-yellow);
    --color-green: var(--neutral-green);
    --color-cyan: var(--neutral-aqua);
    --color-blue: var(--neutral-blue);
    --color-purple: var(--neutral-purple);
    --color-pink: pink;

    // Text colors
    --text-color: var(--light1);
    --text-color-accent: white;

    // Main accent colors
    --accent-color-dark: var(--neutral-green);
    --accent-color-light: var(--neutral-yellow);
    --accent-color-hover: var(--bright-green);

    // Obsidian accent color HSL (neutral green)
    --accent-h: 60;
    --accent-s: 71%;
    --accent-l: 35%;
    --canvas-color: 152, 151, 26 !important;

    // Code section theme
    --code-important: var(--color-yellow);

    // NOTE: this is a mix of VSCode and Neovim themes
    --code-boolean: var(--bright-purple);
    --code-builtin: var(--bright-orange);
    --code-comment: var(var(--gray));
    --code-definition: var(--light1);
    --code-keyword: var(--bright-red);
    --code-operator: var(--bright-orange);
    --code-property: var(--bright-green);
    --code-parentheses: var(--bright-orange);
    --code-string: var(--bright-green);
    --code-value: var(--bright-purple);
    --code-variable: var(--bright-blue);
  }

  &.color-scheme-gruvbox-soft {
    // Soft contrast

    // Background colors
    --background-primary: var(--dark0-soft);
    --background-secondary: var(--dark1);

    // Border colors
    --border-color-primary: var(--dark3);
    --border-color-secondary: var(--dark4);

    // Text colors
    --text-color-muted-dark: var(--dark3); // Separators, indent
    --text-color-muted-light: var(--dark4); // Checklist done, indent
  }

  &.color-scheme-gruvbox-medium {
    // Medium contrast

    // Background colors
    --background-primary: var(--dark0);
    --background-secondary: var(--dark0-soft);

    // Border colors
    --border-color-primary: var(--dark2);
    --border-color-secondary: var(--dark3);

    // Text colors
    --text-color-muted-dark: var(--dark2); // Separators, indent
    --text-color-muted-light: var(--dark3); // Checklist done, indent
  }

  &.color-scheme-gruvbox-hard {
    // Hard contrast

    // Background colors
    --background-primary: var(--dark0-hard);
    --background-secondary: var(--dark0);

    // Border colors
    --border-color-primary: var(--dark1);
    --border-color-secondary: var(--dark2);

    // Text colors
    --text-color-muted-dark: var(--dark1); // Separators, indent
    --text-color-muted-light: var(--dark2); // Checklist done, indent
  }
}
