// Nord color scheme
.theme-dark.color-scheme-nord {
  // Nord color palette
  --black: #2e3440;
  --dark-gray: #3b4252;
  --gray: #434c5e;
  --light-gray: #4c566a;
  --light-gray-bright: #616e88;
  --darkest-white: #d8dee9;
  --darker-white: #e5e9f0;
  --white: #eceff4;
  --teal: #8fbcbb;
  --off-blue: #88c0d0;
  --glacier: #81a1c1;

  // Basic colors
  // TODO: integrate better with Obsidian color variables
  --blue: #5e81ac;
  --red: #bf616a;
  --orange: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --purple: #b48ead;

  // Background colors
  --background-primary: var(--black);
  --background-secondary: var(--dark-gray);
  --selection-background-color: var(--light-gray);

  // Border colors
  --border-color-primary: var(--gray);
  --border-color-secondary: var(--light-gray);
  --selection-border-color: var(--off-blue);

  // Text colors
  --text-color: var(--darkest-white);
  --text-color-accent: var(--white);
  // TODO: text color muted

  // Main accent colors
  --accent-color-dark: var(--glacier);
  --accent-color-light: var(--teal);
  --accent-color-hover: var(--off-blue);

  // Code section theme

  --code-background: var(--dark-gray);

  --code-normal: var(--white);
  --code-comment: var(--light-gray-bright);
  --code-function: var(--blue);
  --code-important: var(--yellow);
  --code-keyword: var(--teal);
  --code-operator: var(--glacier);
  --code-property: var(--white);
  --code-punctuation: red;
  --code-string: var(--green);
  --code-tag: red;
  --code-value: var(--glacier);
}
